# 下面是 .gitignore 文件的配置规则：
# 1. # 开头的行是注释，将被 Git 忽略。
# 2. / 结尾的目录名表示忽略该目录下的所有文件。
# 3. * 表示匹配零个或多个字符。
# 4. ? 表示匹配任意一个字符。
# 5. ! 表示取反，即不忽略匹配到的文件或目录。
# 6. [] 表示匹配方括号内的任意一个字符。

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
/docs/.vitepress/cache/deps/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintrc.js
