$border-color: #c0c4cc;
$border-color2: #dcdfe6;
$background-color: #f5f7fa;

// 基本样式
.t-input {
  font-size: 15px;
  display: inline-block;
  position: relative;
  height: 40px;

  .t-input__prefix,
  .t-input__suffix {
    position: absolute;
    top: 0%;
    height: 100%;
    padding: .1em;
    color: $border-color;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
}

.t-input__inner {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: 1px solid $border-color2;
  border-radius: 4px;
  box-sizing: border-box;
  color: #606266;
  font-size: inherit;
  line-height: 40px;
  outline: none;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0 1em;

  &::placeholder {
    color: #c2c2ca;
  }

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 1px solid #409eff;
  }
}

// 禁用样式
.t-input.is-disabled {
  .t-input__inner {
    background-color: $background-color;
    border-color: #e4e7ed;
    color: $border-color;
    cursor: not-allowed;

    &::placeholder {
      color: #F56C6C;
    }
  }
}

// 三个size样式
@mixin input-size($height, $fontSize) {
  .t-input__inner {
    height: $height;
    font-size: $fontSize;
  }

  .t-input__prefix,
  .t-input__suffix {
    height: $height;
    width: $fontSize;
    color: $border-color;
  }
}
// 中
.t-input.t-input--medium {
  @include input-size(90%, 15px)
}
.t-input.t-input--small {
  @include input-size(85%, 14px);
}

.t-input.t-input--mini {
  @include input-size(80%, 13px);
}

// 前后缀复合型输入框样式
.t-input.t-input-group.t-input-append,
.t-input.t-input-group.t-input-prepend {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  .t-input__inner {
    border-radius: 0 4px 4px 0;
  }

  .t-input__prepend,
  .t-input__append {
    background-color: $background-color;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid $border-color2;
    border-radius: 4 0px 0px 4px;
    padding: 0 20px 0 20px;
    width: 1px;
    white-space: nowrap;
  }

  .t-input__append {
    border-radius: 0 4px 4px 0;
  }
}

.t-input.t-input-group.t-input-append {
  .t-input__inner {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

// 图标控件样式
.t-input__prefix {
  position: absolute;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $border-color;
}
.t-input__suffix {
  position: absolute;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $border-color;
}

.no-cursor {
  cursor: default;
}